/* src/styles/globals.css */
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body {
  font-family: "Kumbh Sans", sans-serif;
}


/* Basic reset for margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.7px;
}
.dop
{
  text-decoration: none;
  color: black;
}
a, Link{
  color: black;
  text-decoration: none;
}

input, .form-select
{
  border: 1px solid #A6BCDA !important;
  font-size: 15px !important;
}
/* Setting a default font for the entire application */


/* Container styling for consistent layout */


/* Example header and footer styling */
